@use "@/styles/app" as *;

#wallets {
  // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
  // // // publish // // // 
  // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
  &.publishNew {
    margin-top: 2em !important;
    h3 {
      font-size: clamp(2.5em, 5vw, 5em) !important;
      margin-top: 0 !important;
      letter-spacing: 0.21em;
      line-height: 1.2 !important;
    }
    .cartaPublish {
      background: rgba(236, 235, 255, 0.3) !important;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
      border-radius: 60px !important;
      padding: clamp(3em, 4vw, 4em);
      margin-bottom: 5em;
      label {
        font-family: 'League Gothic', sans-serif !important;
        font-weight: 400;
        font-size: clamp(1.5em, 6vw, 2em);
        letter-spacing: 0.03em;
      }
      .v-input__slot {
        background-color: #ECEBFF !important;
        box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.3) !important;
        border-radius: 30px !important;
      }
      .v-input--checkbox {
        .v-input__slot {
          background: transparent !important;
          box-shadow: none !important;
        }
      }
      .contPhrase {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1.2em 2em;
        // grid-template-columns: repeat(2, 1fr);
        // grid-gap: 1.2em 2em;
        // @media (max-width: 500px) {
        //   grid-template-columns: repeat(1, 1fr) !important;
        // }
      }
      a {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 400;
        letter-spacing: 0.03em;
        text-decoration-line: underline !important;
        &.active {
          color: $clr-btn !important;
        }
      }
      .lastcont {
        gap: 1em;
        .v-btn {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
          padding-block: 1.2em;
          padding-inline: clamp(0em, 3vw, 3em) !important;
        }
        .v-btn:nth-child(1) {
          @include color($clr-gradient, $clr-text-btn);
          //background-image: none !important;
        }
        .v-btn:nth-child(2) {
          @include color($clr-gradient, $clr-text-btn);
        }
      }
    }
  }
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // modal publish // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
.modalPublish {
  p {line-height: 1 !important}
}
